@keyframes neon-pulse {

  0%,
  100% {
    text-shadow: 0 0 5px #62a3f79a, 0 0 10px #745fe9, 0 0 15px #9b95959a, 0 0 20px #00ffff, 0 0 35px #00ffff, 0 0 40px #00ffff88, 0 0 50px #00ffffb2, 0 0 75px #00ffff;
  }

  50% {
    text-shadow: 0 0 2px #dd9c9c81, 0 0 5px #80f57c85, 0 0 7px #7cb9ff91, 0 0 10px #00ffffa6, 0 0 17px #71fdfda2, 0 0 20px #00ffffc0, 0 0 25px #00ffffb4, 0 0 37px #00ffff6c;
  }
}

.neon-text {
  animation: neon-pulse 1.5s infinite alternate;
}

.bg-animated {
  background: linear-gradient(-45deg, #000000, #1a1a1a, #000033, #003366);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 blue;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #438383;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(39px, 9999px, 71px, 0);
  }

  5% {
    clip: rect(76px, 9999px, 53px, 0);
  }

  10% {
    clip: rect(42px, 9999px, 16px, 0);
  }

  15% {
    clip: rect(94px, 9999px, 33px, 0);
  }

  20% {
    clip: rect(3px, 9999px, 5px, 0);
  }

  25% {
    clip: rect(21px, 9999px, 100px, 0);
  }

  30% {
    clip: rect(79px, 9999px, 82px, 0);
  }

  35% {
    clip: rect(56px, 9999px, 18px, 0);
  }

  40% {
    clip: rect(6px, 9999px, 38px, 0);
  }

  45% {
    clip: rect(65px, 9999px, 91px, 0);
  }

  50% {
    clip: rect(31px, 9999px, 56px, 0);
  }

  55% {
    clip: rect(88px, 9999px, 71px, 0);
  }

  60% {
    clip: rect(13px, 9999px, 43px, 0);
  }

  65% {
    clip: rect(50px, 9999px, 9px, 0);
  }

  70% {
    clip: rect(27px, 9999px, 68px, 0);
  }

  75% {
    clip: rect(85px, 9999px, 25px, 0);
  }

  80% {
    clip: rect(44px, 9999px, 93px, 0);
  }

  85% {
    clip: rect(19px, 9999px, 39px, 0);
  }

  90% {
    clip: rect(71px, 9999px, 86px, 0);
  }

  95% {
    clip: rect(2px, 9999px, 62px, 0);
  }

  100% {
    clip: rect(54px, 9999px, 47px, 0);
  }
}

.hover-3d {
  transition: transform 0.3s;
}

.hover-3d:hover {
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes float-up {
  to {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}




.joinNow {
  position: relative;
  padding: 15px 30px;
  background: #ffffff;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star_1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star_2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star_3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star_4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star_5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star_6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.joinNow:hover {
  background: #000000;
  color: #ffffff;
  box-shadow: 0 0 80px #ffffff8c;
}

.joinNow:hover .star_1 {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.joinNow:hover .star_2 {
  position: absolute;
  top: 35%;
  left: -25%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.joinNow:hover .star_3 {
  position: absolute;
  top: 80%;
  left: -10%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.joinNow:hover .star_4 {
  position: absolute;
  top: -25%;
  left: 105%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.joinNow:hover .star_5 {
  position: absolute;
  top: 30%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.joinNow:hover .star_6 {
  position: absolute;
  top: 80%;
  left: 105%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}